html{
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
    
}

a{
    text-decoration: none;
}

header{
    position: sticky;
    top: 0px;
    z-index: 1000;
}

/*inicio*/
.menuPrincipal{
    background-color: rgb(236, 236, 236);
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
}

.logo{
    width: 100px;
    display: inline-block;
}

.menuPrincipal ul{
    list-style-type: none;
    display: inline-block;
    font-size: 20px

}
.menuPrincipal ul li{
    padding: 20px 20px;
    display: inline-block
}

.titulosindex{
    margin: 50px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    animation-name: aparecer;
    animation-duration: 1s;
}

.titulosindex h1{
    font-size: 40px;
    color: rgb(8, 8, 87);
}

.titulosindex h2{
    font-size: 20px;
}
/*animacion*/
@keyframes aparecer{
    0%{
        opacity: 0%;
    }
    25%{
        opacity: 25%;
    }
    50%{
        opacity: 50%;
    }
    75%{
        opacity: 75%;
    }
    100%{
        opacity: 100%;
    }
}

.imagenPrincipal{
    width: 1500px;
}



/*.imageneshome{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "servicios paquetes"
    "nosotros contacto"
}

.serviciosimg{
    grid-area: servicios;
    width: 700px;
}
.paquetesimg{
    grid-area: paquetes;
    width: 700px;
}
.nosotrosimg{
    grid-area: nosotros;
    width: 700px;
}
.contactoimg{
    grid-area: contacto;
    width: 700px;
}*/

.imageneshome{
    position: relative;
}
.arriba{
    display: flex;
    justify-content: space-evenly;

}
.debajo{
    margin-top: 35px;
    display: flex;
    justify-content: space-evenly
}

.imageneshome{
    margin-top: 30px;
}


.serv{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center
}
.serv h2{
    position: absolute;
    color: aliceblue;
    font-size: 40px;
    font-weight: bolder;
}
.serv img{
    width: 700px;
    border-radius: 20px;
    /*box-shadow: 4px 7px 9px rgba(0, 0, 0, 0.663)*/
    transition: width 1s;
}
.serv img:hover{
    width: 715px;

}


.paq{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center
}
.paq h2{
    position: absolute;
    color: aliceblue;
    font-size: 40px;
    font-weight: bolder;
}
.paq img{
    width: 700px;
    border-radius: 20px;
    /*box-shadow: 4px 7px 9px rgba(0, 0, 0, 0.663)*/
    transition: width 1s;
}
.paq img:hover{
    width: 715px;
}


.nos{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center
}
.nos h2{
    position: absolute;
    color: aliceblue;
    font-size: 40px;
    font-weight: bolder;
    
}
.nos img{
    width: 700px;
    border-radius: 20px;
    /*box-shadow: 4px 7px 9px rgba(0, 0, 0, 0.663)*/
    transition: width 1s;
}
.nos img:hover{
    width: 715px;
}

.cont{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center
}
.cont h2{
    position: absolute;
    color: aliceblue;
    font-size: 40px;
    font-weight: bolder;
}
.cont img{
    width: 700px;
    border-radius: 20px;
    /*box-shadow: 4px 7px 9px rgba(0, 0, 0, 0.663)*/
    transition: width 1s;
}
.cont img:hover{
    width: 715px;
}

/*redes*/
.redes{
    margin-top: 80px;
    margin-left: 10px;
}

.logoFace{
    width: 50px;
}

.logoInsta{
    width: 50px;
    margin-left: 10px;
}

.whatsapp{
    position: fixed;
    bottom: 30px;
    right: 50px;
}

.logoWsp{
    width: 60px;
}

.textito{
    font-size: 10px;
    margin-left: 10px;
    margin-top: 15px;
}

/*servicios*/
.titservicios{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 40px;
    color: rgb(8, 8, 87);
}


.titadm{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: bolder;
}
.admredes{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 8, 87)
}
.admredes img{
    width: 700px;
    margin-left: 20px;
}
.admredes p{
    font-size: 20px;
    margin-left: 60px;
    color: aliceblue;
}

.titidentidad{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    font-size: 40px;
    font-weight: bolder;
}
.identidad{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 8, 87)
}
.identidad img{
    width: 700px;
    margin-left: 20px;
}
.identidad p{
    font-size: 20px;
    margin-left: 60px;
    color: aliceblue;
}


.titmedicion{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    font-size: 40px;
    font-weight: bolder;
}
.medicion{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 8, 87);
}
.medicion img{
    width: 700px;
    margin-left: 20px;
}
.medicion p{
    font-size: 20px;
    margin-left: 60px;
    color: aliceblue;
}

/*paquetes*/

.titpaquetes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 40px;
    color: rgb(8, 8, 87);
}

.tablapaquetes h4{
    margin: 30px;
    font-weight: bolder;
}
.table{
    font-size: 20px;
}


/*nosotros*/
.titnosotros{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 40px;
    color: rgb(8, 8, 87);
}

.nosotrosblock{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 8, 87)
}

.nosotrosblock img{
    width: 700px;
    margin-left: 20px;
}

.nosotrosblock p{
    font-size: 20px;
    margin-left: 60px;
    color: aliceblue;
}

/*contacto*/

.titcontact h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 40px;
    color: rgb(8, 8, 87);
}

.titcontact h2{
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;

}

.btn-primary{
    font-size: 15px;
}

.mb-3 input{
    width: 400px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    transition: all 1s;

}
.mb-3 input:focus{
    height: 40px;
    background-color: rgb(236, 236, 236);
}

.mb-3 textarea{
    width: 400px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    transition: all 2s;
}
.mb-3 textarea:focus{
    height: 100px;
    background-color: rgb(236, 236, 236);
}

.form-label{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
