html{
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
    
}

a{
    text-decoration: none;
}

header{
    position: sticky;
    top: 0px;
    z-index: 1000;
}

/*inicio*/

.navbar{
    font-size: 20px;
    padding: 10px;
    color: rgb(255, 255, 255);
}

.titulosindex{
    margin: 50px;
    text-align: center;
    display: flex; 
    flex-direction: column;
    align-items: center;
    animation-name: aparecer;
    animation-duration: 1s;
}

.titulosindex h1{
    font-size: 40px;
    color: #163d74
}

.titulosindex h2{
    font-size: 20px;
}
/*animacion*/
@keyframes aparecer{
    0%{
        opacity: 0%;
    }
    25%{
        opacity: 25%;
    }
    50%{
        opacity: 50%;
    }
    75%{
        opacity: 75%;
    }
    100%{
        opacity: 100%;
    }
}

.imagenPrincipal{
    width: 1500px;
    /*margin-top: 15px;*/
}


.imageneshome{
    position: relative;
    margin-top: 30px;
}
.arriba{
    display: flex;
    justify-content: space-evenly;

}
.debajo{
    margin-top: 35px;
    display: flex;
    justify-content: space-evenly
}



.serv{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center
}
.serv h2{
    position: absolute;
    color: aliceblue;
    font-size: 40px;
    font-weight: bolder;
}
.serv img{
    width: 700px;
    border-radius: 20px;
    /*box-shadow: 4px 7px 9px rgba(0, 0, 0, 0.663)*/
    transition: width 1s;
}
.serv img:hover{
    width: 715px;
}


.paq{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center
}
.paq h2{
    position: absolute;
    color: aliceblue;
    font-size: 40px;
    font-weight: bolder;
}
.paq img{
    width: 700px;
    border-radius: 20px;
    /*box-shadow: 4px 7px 9px rgba(0, 0, 0, 0.663)*/
    transition: width 1s;
}
.paq img:hover{
    width: 715px;
}


.nos{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center
}
.nos h2{
    position: absolute;
    color: aliceblue;
    font-size: 40px;
    font-weight: bolder;
    
}
.nos img{
    width: 700px;
    border-radius: 20px;
    /*box-shadow: 4px 7px 9px rgba(0, 0, 0, 0.663)*/
    transition: width 1s;
}
.nos img:hover{
    width: 715px;
}

.cont{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center
}
.cont h2{
    position: absolute;
    color: aliceblue;
    font-size: 40px;
    font-weight: bolder;
}
.cont img{
    width: 700px;
    border-radius: 20px;
    /*box-shadow: 4px 7px 9px rgba(0, 0, 0, 0.663)*/
    transition: width 1s;
}
.cont img:hover{
    width: 715px;
}

/*tamaño tablet inicio*/
@media screen and (max-width: 768px){
    .titulosindex{
        margin: 20px;
    }
    .titulosindex h1{
        font-size: 30px;
    }
    .titulosindex h2{
        font-size: 15px;
    }

    .serv h2{
        font-size: 30px;
    }
    .serv img{
        width: 350px;
    }

    .paq h2{
        font-size: 30px;
    }
    .paq img{
        width: 350px;
    }

    .nos h2{
        font-size: 30px;
    }
    .nos img{
        width: 350px;
    }

    .cont h2{
        font-size: 30px;
    }
    .cont img{
        width: 350px;
    }

    .debajo{
        margin-top: 15px;
    }
}


/*tamaño celular*/
@media screen and (max-width: 500px){
    .titulosindex{
        margin: 20px;
    }
    .titulosindex h1{
        font-size: 20px;
    }
    .titulosindex h2{
        font-size: 15px;
    }

.arriba{
    flex-direction: column;
}
.debajo{
    flex-direction: column;
    margin-top: 10px;
}

    .serv h2{
        font-size: 25px;
    }
    .serv img{
        width: 100%;
    }

    .paq h2{
        font-size: 25px;
    }
    .paq img{
        width: 100%;
        margin-top: 10px;
    }

    .nos h2{
        font-size: 25px;
    }
    .nos img{
        width: 100%;
    }

    .cont h2{
        font-size: 25px;
    }
    .cont img{
        width: 100%;
        margin-top: 10px;
    }
}



/*redes*/
.redes{
    margin-top: 80px;
    margin-left: 10px;
}

.logoFace{
    width: 50px;
}

.logoInsta{
    width: 50px;
    margin-left: 10px;
}

.whatsapp{
    position: fixed;
    bottom: 30px;
    right: 50px;
}

.logoWsp{
    width: 60px;
}

.textito{
    font-size: 10px;
    margin-left: 10px;
    margin-top: 15px;
}

/*servicios*/
.titservicios{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 35px;
    color: #163d74
}


.titadm h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #163d74
}
.admredes{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #163d74
}
.admredes img{
    width: 700px;
    margin-left: 20px;
}
.admredes p{
    font-size: 20px;
    margin-left: 60px;
    color: aliceblue;
}

.titidentidad h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #163d74
}
.identidad{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #163d74
}
.identidad img{
    width: 700px;
    margin-left: 20px;
}
.identidad p{
    font-size: 20px;
    margin-left: 60px;
    color: aliceblue;
}


.titmedicion h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #163d74
}
.medicion{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #163d74
}
.medicion img{
    width: 700px;
    margin-left: 20px;
}
.medicion p{
    font-size: 20px;
    margin-left: 60px;
    color: aliceblue;
}

/*tamaño tablet servicios*/
@media screen and (max-width: 768px){

    .titservicios{
        font-size: 30px;
    }

.admredes img{
    width: 330px;
    margin-left: 2px;
}
.admredes p{
    font-size: 15px;
    margin-left: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.identidad img{
    width: 330px;
    margin-left: 2px;
}
.identidad p{
    font-size: 15px;
    margin-left: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.medicion img{
    width: 330px;
    margin-left: 2px;
    
}
.medicion p{
    font-size: 15px;
    margin-left: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
}

/*tamaño celular servicios*/
@media screen and (max-width: 500px){

    .titservicios{
        font-size: 25px;
    }

    .titadm h2{
        font-size: 15px;
    }
    .admredes{
        flex-direction: column;
        background-color: rgb(255, 255, 255);
    }
.admredes img{
    width: 100%;
}
.admredes p{
    margin-top: 5px;
    font-size: 15px;
    width: 100%;
    color: black;

}

.titidentidad h2{
    font-size: 15px;
}

.identidad{
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}
.identidad img{
    width: 100%;
}
.identidad p{
    margin-top: 5px;
    font-size: 15px;
    width: 100%;
    color: black;

}

.titmedicion h2{
    font-size: 15px;
}
.medicion{
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}
.medicion img{
    width: 100%;
    
}
.medicion p{
    margin-top: 5px;
    font-size: 15px;
    width: 100%;
    color: black;
}
}

/*paquetes*/

.titpaquetes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 35px;
    color: #163d74
}

.tablapaquetes h4{
    font-size: 20px;
    margin: 30px;
    font-weight: bolder;
}
.table{
    font-size: 20px;
    background-color: #163d74;
    color: rgb(255, 255, 255);
    border-radius: 15px;
}

/*tamaño tablet paq*/
@media screen and (max-width: 768px){
    .titpaquetes{
        font-size: 30px;
    }
    .tablapaquetes h4{
        font-size: 15px;
    }}

    /*tamaño celular paq*/
@media screen and (max-width: 500px){
    .titpaquetes{
        font-size: 25px;
    }
}

/*nosotros*/
.titnosotros{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 35px;
    color: #163d74
}

.nosotrosblock{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #163d74
}

.nosotrosblock img{
    width: 700px;
    margin-left: 20px;
}

.nosotrosblock p{
    font-size: 20px;
    margin-left: 60px;
    color: aliceblue;
}

/*contacto*/

.titcontact h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 35px;
    color: #163d74
}

.titcontact h2{
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;

}

.btn-primary{
    font-size: 15px;
}

.mb-3 input{
    width: 400px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    transition: all 1s;

}
.mb-3 input:focus{
    height: 40px;
    background-color: rgb(236, 236, 236);
}

.mb-3 textarea{
    width: 400px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    transition: all 2s;
}
.mb-3 textarea:focus{
    height: 100px;
    background-color: rgb(236, 236, 236);
}

.form-label{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/**/



