@charset "UTF-8";
html {
  font-size: 62.5%; }
  html p {
    font-family: 'Poppins', sans-serif; }
  html h1 {
    font-family: 'Poppins', sans-serif; }
  html h2 {
    font-family: 'Poppins', sans-serif; }

a {
  text-decoration: none; }

header {
  position: sticky;
  top: 0px;
  z-index: 1000; }

.navbar {
  font-size: 18px;
  padding: 10px;
  font-family: 'Poppins', sans-serif; }
  .navbar ul li {
    margin-left: 140px;
    text-align: right; }

.imagennav {
  width: 120px;
  display: inline-block; }

.redes {
  margin-top: 80px;
  margin-left: 10px; }

.logoFace {
  width: 50px; }

.logoInsta {
  width: 50px;
  margin-left: 10px; }

.whatsapp {
  position: fixed;
  bottom: 30px;
  right: 50px; }

.logoWsp {
  width: 60px; }

.textito {
  font-size: 10px;
  margin-left: 10px;
  margin-top: 15px; }

.titulosindex {
  margin: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-name: aparecer;
  animation-duration: 1s; }
  .titulosindex h1 {
    font-size: 35px;
    color: #163d74; }
  .titulosindex h2 {
    font-size: 20px; }

@keyframes aparecer {
  0% {
    opacity: 0%; }
  25% {
    opacity: 25%; }
  50% {
    opacity: 50%; }
  75% {
    opacity: 75%; }
  100% {
    opacity: 100%; } }

.imagenPrincipal {
  width: 1500px; }

.imageneshome {
  position: relative;
  margin-top: 30px; }

.arriba, .debajo {
  display: flex;
  justify-content: space-evenly; }

.debajo {
  margin-top: 35px;
  margin-bottom: 55px; }

.imagenesindex-1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .imagenesindex-1 h2 {
    position: absolute;
    color: white;
    font-size: 40px;
    font-weight: bolder; }
  .imagenesindex-1 img {
    width: 700px;
    border-radius: 20px;
    transition: width 1s; }
    .imagenesindex-1 img:hover {
      width: 715px; }

.imagenesindex-2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .imagenesindex-2 h2 {
    position: absolute;
    color: white;
    font-size: 40px;
    font-weight: bolder; }
  .imagenesindex-2 img {
    width: 700px;
    border-radius: 20px;
    transition: width 1s; }
    .imagenesindex-2 img:hover {
      width: 715px; }

.imagenesindex-3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .imagenesindex-3 h2 {
    position: absolute;
    color: white;
    font-size: 40px;
    font-weight: bolder; }
  .imagenesindex-3 img {
    width: 700px;
    border-radius: 20px;
    transition: width 1s; }
    .imagenesindex-3 img:hover {
      width: 715px; }

.imagenesindex-4 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .imagenesindex-4 h2 {
    position: absolute;
    color: white;
    font-size: 40px;
    font-weight: bolder; }
  .imagenesindex-4 img {
    width: 700px;
    border-radius: 20px;
    transition: width 1s; }
    .imagenesindex-4 img:hover {
      width: 715px; }

.submarcas {
  text-align: center;
  margin-bottom: 10px; }
  .submarcas h2 {
    color: #c0c0c0; }

.marca {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dcdcdc;
  height: 130px; }
  .marca img {
    width: 85px;
    margin: 80px;
    transition: width 0.5s; }
    .marca img:hover {
      width: 90px; }

.titserviciosprin, .titpaquetes {
  text-align: center;
  margin-top: 30px;
  font-size: 35px;
  color: #163d74; }

.serviciostit-1 h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: bold;
  color: #163d74; }

.serviciostit-2 h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: bold;
  color: #163d74; }

.serviciostit-3 h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: bold;
  color: #163d74; }

.bloqueserv-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to left, #3060a3, #0f3364);
  height: 400px;
  width: 1500px;
  border-radius: 20px;
  margin: 0 auto; }
  .bloqueserv-1 img {
    width: 250px;
    margin-left: 20px; }
  .bloqueserv-1 p {
    font-size: 20px;
    margin-left: 60px;
    color: white; }

.bloqueserv-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to left, #3060a3, #0f3364);
  height: 400px;
  width: 1500px;
  border-radius: 20px;
  margin: 0 auto; }
  .bloqueserv-2 img {
    width: 250px;
    margin-left: 20px; }
  .bloqueserv-2 p {
    font-size: 20px;
    margin-left: 60px;
    color: white; }

.bloqueserv-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to left, #3060a3, #0f3364);
  height: 400px;
  width: 1500px;
  border-radius: 20px;
  margin: 0 auto; }
  .bloqueserv-3 img {
    width: 250px;
    margin-left: 20px; }
  .bloqueserv-3 p {
    font-size: 20px;
    margin-left: 60px;
    color: white; }

.tablapaquetes h4 {
  font-size: 20px;
  margin: 30px;
  font-weight: bolder;
  font-family: 'Poppins', sans-serif;
  text-align: center; }

.table {
  background-image: linear-gradient(to left, #3060a3, #0f3364);
  font-size: 20px;
  color: white;
  border-radius: 15px;
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
  width: 1200px;
  height: 300px; }

.celulares {
  display: flex;
  justify-content: center;
  align-items: center; }

.imgp1 {
  width: 600px; }

.imgp2 {
  width: 500px; }

.titnosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 35px;
  color: #163d74; }

.nosotrosblock {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to left, #3060a3, #0f3364);
  height: 500px;
  width: 1500px;
  border-radius: 20px;
  margin: 0 auto; }
  .nosotrosblock img {
    width: 750;
    margin-left: 20px; }
  .nosotrosblock p {
    font-size: 20px;
    margin-left: 30px;
    color: white; }

.titcontact {
  text-align: center; }
  .titcontact h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 35px;
    color: #163d74; }
  .titcontact h2 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center; }

.formulario {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: 'Poppins', sans-serif; }

.btn-primary {
  font-size: 15px; }

.mb-3 input {
  width: 400px;
  height: 30px;
  background-color: white;
  font-size: 15px;
  transition: all 1s; }
  .mb-3 input:focus {
    height: 40px;
    background-color: #ececec; }

.mb-3 textarea {
  width: 400px;
  height: 80px;
  background-color: white;
  font-size: 15px;
  transition: all 2s; }
  .mb-3 textarea:focus {
    height: 100px;
    background-color: #ececec; }

.form-label {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

/*nav*/
@media screen and (max-width: 768px) {
  .navbar {
    font-size: 15px; }
    .navbar ul li {
      margin-left: 0%; }
  .imagennav {
    width: 80px; } }

/*tamaño tablet inicio*/
@media screen and (max-width: 768px) {
  .titulosindex {
    margin: 20px; }
    .titulosindex h1 {
      font-size: 28px; }
    .titulosindex h2 {
      font-size: 15px; }
  .imagenesindex-1 h2 {
    font-size: 30px; }
  .imagenesindex-1 img {
    width: 350px; }
  .imagenesindex-2 h2 {
    font-size: 30px; }
  .imagenesindex-2 img {
    width: 350px; }
  .imagenesindex-3 h2 {
    font-size: 30px; }
  .imagenesindex-3 img {
    width: 350px; }
  .imagenesindex-4 h2 {
    font-size: 30px; }
  .imagenesindex-4 img {
    width: 350px; }
  .debajo {
    margin-top: 15px; }
  .submarcas {
    margin-bottom: 7px; }
  .marca {
    height: 100px; }
    .marca img {
      width: 60px;
      margin: 50px;
      transition: width 0.5s; }
      .marca img:hover {
        width: 65px; } }

/*tamaño celular inicio*/
@media screen and (max-width: 500px) {
  .titulosindex {
    margin: 20px; }
    .titulosindex h1 {
      font-size: 17px; }
    .titulosindex h2 {
      font-size: 14px; }
  .arriba, .debajo {
    flex-direction: column; }
  .debajo {
    flex-direction: column;
    margin-top: 10px; }
  .imagenesindex-1 h2 {
    font-size: 25px; }
  .imagenesindex-1 img {
    width: 100%; }
  .imagenesindex-2 h2 {
    font-size: 25px; }
  .imagenesindex-2 img {
    width: 100%;
    margin-top: 10px; }
  .imagenesindex-3 h2 {
    font-size: 25px; }
  .imagenesindex-3 img {
    width: 100%; }
  .imagenesindex-4 h2 {
    font-size: 25px; }
  .imagenesindex-4 img {
    width: 100%;
    margin-top: 10px; }
  .marca {
    height: 60px; }
    .marca img {
      width: 40px;
      margin: 20px;
      transition: width 0.5s; }
      .marca img:hover {
        width: 45px; } }

/*tamaño tablet servicios*/
@media screen and (max-width: 768px) {
  .titserviciosprin, .titpaquetes {
    font-size: 28px; }
  .bloqueserv-1 {
    height: 200px;
    width: 670px; }
    .bloqueserv-1 img {
      width: 150px;
      margin-left: 2px; }
    .bloqueserv-1 p {
      font-size: 15px;
      margin-left: 20px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
  .bloqueserv-2 {
    height: 200px;
    width: 670px; }
    .bloqueserv-2 img {
      width: 150px;
      margin-left: 2px; }
    .bloqueserv-2 p {
      font-size: 15px;
      margin-left: 20px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
  .bloqueserv-3 {
    height: 200px;
    width: 670px; }
    .bloqueserv-3 img {
      width: 150px;
      margin-left: 2px; }
    .bloqueserv-3 p {
      font-size: 15px;
      margin-left: 20px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; } }

/*tamaño celular servicios*/
@media screen and (max-width: 500px) {
  .titserviciosprin, .titpaquetes {
    font-size: 25px; }
  .serviciostit-1 h2 {
    font-size: 15px; }
  .bloqueserv-1 {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 375px; }
    .bloqueserv-1 img {
      width: 150px; }
    .bloqueserv-1 p {
      display: none; }
  .serviciostit-2 h2 {
    font-size: 15px; }
  .bloqueserv-2 {
    flex-direction: column;
    height: 200px;
    width: 375px; }
    .bloqueserv-2 img {
      width: 150px; }
    .bloqueserv-2 p {
      display: none; }
  .serviciostit-3 h2 {
    font-size: 15px; }
  .bloqueserv-3 {
    flex-direction: column;
    height: 200px;
    width: 375px; }
    .bloqueserv-3 img {
      width: 150px; }
    .bloqueserv-3 p {
      display: none; } }

/*tamaño tablet paq*/
@media screen and (max-width: 768px) {
  .titpaquetes {
    font-size: 28px; }
    .titpaquetes h4 {
      font-size: 15px; }
  .table {
    font-size: 20px;
    width: 600px;
    height: 200px; }
  .imgp1 {
    width: 350px; }
  .imgp2 {
    width: 270px; } }

/*tamaño celular paq*/
@media screen and (max-width: 500px) {
  .titpaquetes {
    font-size: 25px; }
  .tablapaquetes h4 {
    font-size: 15px;
    display: flex;
    justify-content: center; }
  .table {
    font-size: 15px;
    width: 350px;
    height: 150px; }
  .imgp1 {
    margin-top: 20px;
    width: 350px; }
  .imgp2 {
    display: none; } }

/*tamaño tablet nosotros*/
@media screen and (max-width: 768px) {
  .titnosotros {
    font-size: 28px; }
  .nosotrosblock {
    height: 300px;
    width: 730px;
    border-radius: 20px;
    margin: 0 auto; }
    .nosotrosblock img {
      width: 450;
      margin-left: 10px; }
    .nosotrosblock p {
      font-size: 12px;
      margin-left: 30px;
      color: white; } }

/*tamaño celular nosotros*/
@media screen and (max-width: 500px) {
  .titnosotros {
    font-size: 25px; }
  .nosotrosblock {
    flex-direction: column;
    height: 500px;
    width: 380px;
    border-radius: 20px; }
    .nosotrosblock img {
      width: 380;
      margin-right: 10px;
      margin-top: 10px; }
    .nosotrosblock p {
      margin-top: 10px;
      margin-right: 25px;
      font-size: 12px;
      color: white; } }

/*tamaño celular contacto*/
@media screen and (max-width: 500px) {
  .titcontact h1 {
    font-size: 28px; }
  .titcontact h2 {
    font-size: 15px; }
  .mb-3 input {
    width: 300px; }
  .mb-3 textarea {
    width: 300px; } }
