@charset "UTF-8";
html {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif; }

a {
  text-decoration: none; }

header {
  position: sticky;
  top: 0px;
  z-index: 1000; }

.navbar {
  font-size: 18px;
  padding: 10px; }
  .navbar ul li {
    margin-left: 140px;
    font-weight: 500; }

.imagennav {
  width: 90px;
  display: inline-block; }

.redes {
  margin-top: 80px;
  margin-left: 10px; }

.logoFace {
  width: 50px; }

.logoInsta {
  width: 50px;
  margin-left: 10px; }

.whatsapp {
  position: fixed;
  bottom: 30px;
  right: 50px; }

.logoWsp {
  width: 60px; }

.textito {
  font-size: 10px;
  margin-left: 10px;
  margin-top: 15px; }

.titulosindex {
  margin: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-name: aparecer;
  animation-duration: 1s; }
  .titulosindex h1 {
    font-size: 35px;
    color: #163d74; }
  .titulosindex h2 {
    font-size: 20px; }

@keyframes aparecer {
  0% {
    opacity: 0%; }
  25% {
    opacity: 25%; }
  50% {
    opacity: 50%; }
  75% {
    opacity: 75%; }
  100% {
    opacity: 100%; } }

.imagenPrincipal {
  width: 1500px; }

.imageneshome {
  position: relative;
  margin-top: 30px; }

.arriba {
  display: flex;
  justify-content: space-evenly; }

.debajo {
  margin-top: 35px;
  display: flex;
  justify-content: space-evenly; }

.imagenesindex-1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .imagenesindex-1 h2 {
    position: absolute;
    color: white;
    font-size: 40px;
    font-weight: bolder; }
  .imagenesindex-1 img {
    width: 700px;
    border-radius: 20px;
    transition: width 1s; }
    .imagenesindex-1 img:hover {
      width: 715px; }

.imagenesindex-2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .imagenesindex-2 h2 {
    position: absolute;
    color: white;
    font-size: 40px;
    font-weight: bolder; }
  .imagenesindex-2 img {
    width: 700px;
    border-radius: 20px;
    transition: width 1s; }
    .imagenesindex-2 img:hover {
      width: 715px; }

.imagenesindex-3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .imagenesindex-3 h2 {
    position: absolute;
    color: white;
    font-size: 40px;
    font-weight: bolder; }
  .imagenesindex-3 img {
    width: 700px;
    border-radius: 20px;
    transition: width 1s; }
    .imagenesindex-3 img:hover {
      width: 715px; }

.imagenesindex-4 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .imagenesindex-4 h2 {
    position: absolute;
    color: white;
    font-size: 40px;
    font-weight: bolder; }
  .imagenesindex-4 img {
    width: 700px;
    border-radius: 20px;
    transition: width 1s; }
    .imagenesindex-4 img:hover {
      width: 715px; }

.titserviciosprin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 35px;
  color: #163d74; }

.serviciostit-1 h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: bold;
  color: #163d74; }

.serviciostit-2 h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: bold;
  color: #163d74; }

.serviciostit-3 h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: bold;
  color: #163d74; }

.bloqueserv-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #163d74; }
  .bloqueserv-1 img {
    width: 700px;
    margin-left: 20px; }
  .bloqueserv-1 p {
    font-size: 20px;
    margin-left: 60px;
    color: white; }

.bloqueserv-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #163d74; }
  .bloqueserv-2 img {
    width: 700px;
    margin-left: 20px; }
  .bloqueserv-2 p {
    font-size: 20px;
    margin-left: 60px;
    color: white; }

.bloqueserv-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #163d74; }
  .bloqueserv-3 img {
    width: 700px;
    margin-left: 20px; }
  .bloqueserv-3 p {
    font-size: 20px;
    margin-left: 60px;
    color: white; }

.titpaquetes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 35px;
  color: #163d74; }

.tablapaquetes h4 {
  font-size: 20px;
  margin: 30px;
  font-weight: bolder; }

.table {
  background-color: #163d74;
  font-size: 20px;
  color: white;
  border-radius: 15px; }

.titnosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 35px;
  color: #163d74; }

.nosotrosblock {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #163d74; }
  .nosotrosblock img {
    width: 700px;
    margin-left: 20px; }
  .nosotrosblock p {
    font-size: 20px;
    margin-left: 60px;
    color: white; }

.titcontact h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 35px;
  color: #163d74; }

.titcontact h2 {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center; }

.formulario {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold; }

.btn-primary {
  font-size: 15px; }

.mb-3 input {
  width: 400px;
  height: 30px;
  background-color: white;
  font-size: 15px;
  transition: all 1s; }
  .mb-3 input:focus {
    height: 40px;
    background-color: #ececec; }

.mb-3 textarea {
  width: 400px;
  height: 80px;
  background-color: white;
  font-size: 15px;
  transition: all 2s; }
  .mb-3 textarea:focus {
    height: 100px;
    background-color: #ececec; }

.form-label {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

/*nav*/
@media screen and (max-width: 768px) {
  .navbar {
    font-size: 15px; }
    .navbar ul li {
      margin-left: 0%; }
  .imagennav {
    width: 80px; } }

/*tamaño tablet inicio*/
@media screen and (max-width: 768px) {
  .titulosindex {
    margin: 20px; }
    .titulosindex h1 {
      font-size: 28px; }
    .titulosindex h2 {
      font-size: 15px; }
  .serv h2 {
    font-size: 30px; }
  .serv .serv img {
    width: 350px; }
  .paq h2 {
    font-size: 30px; }
  .paq img {
    width: 350px; }
  .nos h2 {
    font-size: 30px; }
  .nos img {
    width: 350px; }
  .cont h2 {
    font-size: 30px; }
  .cont img {
    width: 350px; }
  .debajo {
    margin-top: 15px; } }

/*tamaño celular inicio*/
@media screen and (max-width: 500px) {
  .titulosindex {
    margin: 20px; }
    .titulosindex h1 {
      font-size: 25px; }
    .titulosindex h2 {
      font-size: 15px; }
  .arriba {
    flex-direction: column; }
  .debajo {
    flex-direction: column;
    margin-top: 10px; }
  .serv h2 {
    font-size: 25px; }
  .serv img {
    width: 100%; }
  .paq h2 {
    font-size: 25px; }
  .paq img {
    width: 100%;
    margin-top: 10px; }
  .nos h2 {
    font-size: 25px; }
  .nos img {
    width: 100%; }
  .cont h2 {
    font-size: 25px; }
  .cont img {
    width: 100%;
    margin-top: 10px; } }

/*tamaño tablet servicios*/
@media screen and (max-width: 768px) {
  .titserviciosprin {
    font-size: 28px; }
  .bloqueserv-1 img {
    width: 330px;
    margin-left: 2px; }
  .bloqueserv-1 p {
    font-size: 15px;
    margin-left: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .bloqueserv-2 img {
    width: 330px;
    margin-left: 2px; }
  .bloqueserv-2 p {
    font-size: 15px;
    margin-left: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .bloqueserv-3 img {
    width: 330px;
    margin-left: 2px; }
  .bloqueserv-3 p {
    font-size: 15px;
    margin-left: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; } }

/*tamaño celular servicios*/
@media screen and (max-width: 500px) {
  .titserviciosprin {
    font-size: 25px; }
  .serviciostit-1 h2 {
    font-size: 15px; }
  .bloqueserv-1 {
    flex-direction: column;
    background-color: white; }
    .bloqueserv-1 img {
      width: 100%; }
    .bloqueserv-1 p {
      margin-top: 5px;
      font-size: 15px;
      width: 100%;
      color: black; }
  .serviciostit-2 h2 {
    font-size: 15px; }
  .bloqueserv-2 {
    flex-direction: column;
    background-color: white; }
    .bloqueserv-2 img {
      width: 100%; }
    .bloqueserv-2 p {
      margin-top: 5px;
      font-size: 15px;
      width: 100%;
      color: black; }
  .serviciostit-3 h2 {
    font-size: 15px; }
  .bloqueserv-3 {
    flex-direction: column;
    background-color: white; }
    .bloqueserv-3 img {
      width: 100%; }
    .bloqueserv-3 p {
      margin-top: 5px;
      font-size: 15px;
      width: 100%;
      color: black; } }

/*tamaño tablet paq*/
@media screen and (max-width: 768px) {
  .titpaquetes {
    font-size: 28px; }
    .titpaquetes h4 {
      font-size: 15px; } }

/*tamaño celular paq*/
@media screen and (max-width: 500px) {
  .titpaquetes {
    font-size: 25px; }
  .tablapaquetes h4 {
    font-size: 15px;
    display: flex;
    justify-content: center; } }

/*tamaño tablet nosotros*/
@media screen and (max-width: 768px) {
  .titnosotros {
    font-size: 28px; }
  .nosotrosblock img {
    width: 330px;
    margin-left: 2px; }
  .nosotrosblock p {
    font-size: 15px;
    margin-left: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; } }

/*tamaño celular nosotros*/
@media screen and (max-width: 500px) {
  .titnosotros {
    font-size: 25px; }
  .nosotrosblock {
    flex-direction: column;
    background-color: white; }
    .nosotrosblock img {
      width: 100%; }
    .nosotrosblock p {
      margin-top: 10px;
      font-size: 15px;
      width: 100%;
      color: black; } }

/*tamaño celular contacto*/
@media screen and (max-width: 500px) {
  .titcontact h1 {
    font-size: 28px; }
  .titcontact h2 {
    font-size: 15px; }
  .mb-3 input {
    width: 300px; }
  .mb-3 textarea {
    width: 300px; } }
