html {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif; }

a {
  text-decoration: none; }

header {
  position: sticky;
  top: 0px;
  z-index: 1000; }

.navbar {
  font-size: 20px;
  padding: 10px;
  color: white; }

.imagennav {
  width: 90px;
  display: inline-block; }

.titulosindex {
  margin: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-name: aparecer;
  animation-duration: 1s; }
  .titulosindex h1 {
    font-size: 40px;
    color: #163d74; }
  .titulosindex h2 {
    font-size: 20px; }

@keyframes aparecer {
  0% {
    opacity: 0%; }
  25% {
    opacity: 25%; }
  50% {
    opacity: 50%; }
  75% {
    opacity: 75%; }
  100% {
    opacity: 100%; } }

.imagenPrincipal {
  width: 1500px; }

.imageneshome {
  position: relative;
  margin-top: 30px; }

.arriba {
  display: flex;
  justify-content: space-evenly; }

.debajo {
  margin-top: 35px;
  display: flex;
  justify-content: space-evenly; }

.serv {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .serv h2 {
    position: absolute;
    color: aliceblue;
    font-size: 40px;
    font-weight: bolder; }
  .serv img {
    width: 700px;
    border-radius: 20px;
    transition: width 1s; }
    .serv img:hover {
      width: 715px; }

.paq {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .paq h2 {
    position: absolute;
    color: aliceblue;
    font-size: 40px;
    font-weight: bolder; }
  .paq img {
    width: 700px;
    border-radius: 20px;
    transition: width 1s; }
    .paq img:hover {
      width: 715px; }

.nos {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .nos h2 {
    position: absolute;
    color: aliceblue;
    font-size: 40px;
    font-weight: bolder; }
  .nos img {
    width: 700px;
    border-radius: 20px;
    transition: width 1s; }
    .nos img:hover {
      width: 715px; }

.cont {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .cont h2 {
    position: absolute;
    color: aliceblue;
    font-size: 40px;
    font-weight: bolder; }
  .cont img {
    width: 700px;
    border-radius: 20px;
    transition: width 1s; }
    .cont img:hover {
      width: 715px; }
