html{
    font-size: 62.5%;
    p{
        font-family: 'Poppins', sans-serif;
    }
    h1{
        font-family: 'Poppins', sans-serif;
    }
    h2{
        font-family: 'Poppins', sans-serif;
    }
}

a{
    text-decoration: none;
}

header{
    position: sticky;
    top: 0px;
    z-index: 1000;
}

.navbar{
    font-size: 18px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    ul li{
        margin-left: 140px;
        text-align: right;
    }
}

.imagennav{
    width: 120px;
    display: inline-block
}

.redes{
    margin-top: 80px;
    margin-left: 10px;
}

.logoFace{
    width: 50px;
}

.logoInsta{
    width: 50px;
    margin-left: 10px;
}

.whatsapp{
    position: fixed;
    bottom: 30px;
    right: 50px;
}

.logoWsp{
    width: 60px;
}

.textito{
    font-size: 10px;
    margin-left: 10px;
    margin-top: 15px;
}