/*nav*/
@media screen and (max-width: 768px){
    
    .navbar{
        font-size: 15px;
        ul li{
            margin-left: 0%;
        }
    }
    .imagennav{
        width: 80px;
    }
}

/*tamaño tablet inicio*/
@media screen and (max-width: 768px){
    .titulosindex{
        margin: 20px;
        h1{
            font-size: $titTab;
        }
        h2{
            font-size: 15px;
        }
    }
    .imagenesindex-1{
    h2{
        font-size: 30px;
        }
    img{
        width: 350px;
        }
    }
    .imagenesindex-2{
        h2{
        font-size: 30px;
        }
        img{
        width: 350px;
        }
    }
    .imagenesindex-3{
        h2{
        font-size: 30px;
        }
        img{
        width: 350px;
        }
    }
    .imagenesindex-4{
    h2{
        font-size: 30px;
        }
    img{
        width: 350px;
        }
    }
    .debajo{
        margin-top: 15px;
    }
    .submarcas{
        margin-bottom: 7px;
    }
    .marca{
        height: 100px;
        img {
            width: 60px;
            margin: 50px;
            transition: width 0.5s;
            &:hover{
                width: 60px + 5px;
            }
    }
}
}

/*tamaño celular inicio*/
@media screen and (max-width: 500px){
    .titulosindex{
        margin: 20px;
        h1{
            font-size: 17px;
        }
        h2{
            font-size: 14px;
        }
    }


.arriba{
    flex-direction: column;
}
.debajo{
    flex-direction: column;
    margin-top: 10px;
}

.imagenesindex-1{
        h2{
        font-size: 25px;
        }
    img{
        width: 100%;
        }
}

    .imagenesindex-2{
        h2{
        font-size: 25px;
        }
        img{
        width: 100%;
        margin-top: 10px;
        }
}

    .imagenesindex-3{
        h2{
        font-size: 25px;
        }
    img{
        width: 100%;
        }
}

    .imagenesindex-4{
        h2{
        font-size: 25px;
        }
        img{
        width: 100%;
        margin-top: 10px;
        }
    }
    .marca{
        height: 60px;
        img {
            width: 40px;
            margin: 20px;
            transition: width 0.5s;
            &:hover{
                width: 40px + 5px;
            }
        }
    }
}



/*tamaño tablet servicios*/
@media screen and (max-width: 768px){

    .titserviciosprin{
        font-size: $titTab;
    }

.bloqueserv-1{
    height: 200px;
    width: 670px;
    img{
    width: $imgPngTab;
    margin-left: 2px;
    }
    p{
        font-size: 15px;
        margin-left: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.bloqueserv-2{
    height: 200px;
    width: 670px;
    img{
    width: $imgPngTab;
    margin-left: 2px;
    }
    p{
        font-size: 15px;
        margin-left: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.bloqueserv-3{
    height: 200px;
    width: 670px;
    img{
    width: $imgPngTab;
    margin-left: 2px;
    }
    p{
        font-size: 15px;
        margin-left: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        }
    }
}

/*tamaño celular servicios*/
@media screen and (max-width: 500px){

    .titserviciosprin{
        font-size: $titCel;
    }

    .serviciostit-1 h2{
        font-size: 15px;
    }
    .bloqueserv-1{
        display: flex;
        justify-content: center;
        height: 200px;
        width: 375px;
        img{
            width: $imgPngTab;
        }
        p{
        display: none;
        }
    } 

    .serviciostit-2 h2{
    font-size: 15px;
}

.bloqueserv-2{
    flex-direction: column;
    height: 200px;
    width: 375px;
    img{
        width: $imgPngTab;
    }
    p{
        display: none;
    }
}

.serviciostit-3 h2{
    font-size: 15px;
}

.bloqueserv-3{
    flex-direction: column;
    height: 200px;
    width: 375px;
    img{
        width: $imgPngTab;
    }
    p{
        display: none;
    }
    }
}

/*tamaño tablet paq*/
@media screen and (max-width: 768px){
    .titpaquetes{
        font-size: $titTab;
        h4{
            font-size: 15px;
        }
    }
    .table{
        font-size: 20px;
        width: 600px;
        height: 200px;
}
.imgp1{
    width: 350px;
}
.imgp2{
    width: 270px;
}
}

    /*tamaño celular paq*/
@media screen and (max-width: 500px){
    .titpaquetes{
        font-size: $titCel;
    }
    .tablapaquetes h4{
        font-size: 15px;
        display: flex;
        justify-content: center;
    }
    .table{
        font-size: 15px;
        width: 350px;
        height: 150px;
}
.imgp1{
    margin-top: 20px;
    width: 350px;
}
.imgp2{
    display: none;
}
}


/*tamaño tablet nosotros*/
@media screen and (max-width: 768px){

    .titnosotros{
        font-size: $titTab;
    }

.nosotrosblock{

    height: 300px;
    width: 730px;
    border-radius: 20px;
    margin: 0 auto;
    img{
        width: 450;
        margin-left: 10px;
    }
    p{
        font-size: 12px;
        margin-left: 30px;
        color: $colorSecundario;
    }
    }
}


/*tamaño celular nosotros*/
@media screen and (max-width: 500px){
    .titnosotros{
        font-size: $titCel;
    }
    .nosotrosblock{
            flex-direction: column;
            height: 500px;
            width: 380px;
            border-radius: 20px;
            img{
                width: 380;
                margin-right: 10px;
                margin-top: 10px;
            }
            p{
                margin-top: 10px;
                margin-right: 25px;
                font-size: 12px;
                color: $colorSecundario;
            }
            }
    }


    /*tamaño celular contacto*/
@media screen and (max-width: 500px){
    .titcontact{
    h1{
        font-size: $titTab;
    }
    h2{
        font-size: 15px;
    }
}
    .mb-3{
        input{
        width: 300px;
        }
        textarea{
        width: 300px;
        }
    }
}