.titserviciosprin{
    text-align: center;
    margin-top: 30px;
    font-size: $titEsc;
    color: $colorPrincipal;
}


@for $i from 1 through 3{
        .serviciostit-#{$i}{
        h2{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        margin-bottom: 40px;
        font-size: $subtEsc;
        font-weight: bold;
        color: $colorPrincipal}
}
}

@for $i from 1 through 3{
    .bloqueserv-#{$i}{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left, #3060a3, #0f3364);
    height: 400px;
    width: 1500px;
    border-radius: 20px;
    margin: 0 auto;
    img{
        width: $imgPng;
        margin-left: 20px;
    }
    p{
        font-size: 20px;
        margin-left: 60px;
        color: $colorSecundario;
    }
    }
}