$colorPrincipal: #163d74;
$colorSecundario: rgb(255, 255, 255);
$titEsc: 35px;
$subtEsc: 20px;
$titTab: 28px;
$titCel: 25px;
$imgEsc: 700px;
$imgPng: 250px;
$imgPngTab: 150px;
$fiesta: comun;

@import "generales";
@import "index";
@import "servicios";
@import "paquetes";
@import "nosotros";
@import "contacto";
@import "mediaqueries";


